<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict/>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>需要您的同意，才能访问摄像头以进行扫码</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>需要您的同意，才能访问相册以识别二维码</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>需要您的同意，才能在使用期间获取您的位置以自动填写用车城市</string>
</dict>
</plist>
